<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EditPart.ascx.cs" Inherits="YourCompany.Modules.PDM2019.LRHEditPart" %>
<%@ Register Src="Sidebar.ascx" TagName="sidebar" TagPrefix="pdm" %>
<%@ Register Src="ProductDevelopmentTab.ascx" TagName="productDevelopment" TagPrefix="pdm" %>
<%@ Register Src="QualityTab.ascx" TagName="quality" TagPrefix="pdm" %>
<%@ Register Src="CreativeTabs.ascx" TagName="creative" TagPrefix="pdm" %>
<%@ Register Src="Sales.ascx" TagName="sales" TagPrefix="pdm" %>
<%@ Register Src="MarketingTab.ascx" TagName="marketing" TagPrefix="pdm" %>
<%@ Register Src="PurchasingTab.ascx" TagName="purchasing" TagPrefix="pdm" %>
<%@ Register Src="AccountingTab.ascx" TagName="accounting" TagPrefix="pdm" %>
<%--<%@ Register Src="Legal.ascx" TagName="legal" TagPrefix="pdm" %>--%>
<%@ Register Src="BOMContainer.ascx" TagName="bom" TagPrefix="pdm" %>

<%@ Register assembly="DotNetNuke.WebControls" namespace="DotNetNuke.UI.WebControls" tagprefix="DNN" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Assembly="Paging" TagPrefix="pg" Namespace="Paging" %>
<%@ Register Assembly="FilterParser" TagPrefix="fltr" Namespace="FilterParser" %>

<style>
    p { padding-top:4px;
        margin-bottom: 0px;
    }
    
    span.placeholder { border-bottom: solid 1px #e8e2e2; }
   
    label 
    {
        font-size:12px;
        color: #000000;
        font-weight:bold;
    }
    
    A, A:link, A:active, A:visited, A:hover, .Link_list li { color: #0932bf; }
    
    span.required
    {
        border-bottom: solid 1px orange;
    }

</style>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        var msg = jQuery('[id*="hdnShowMessage"]').val();
        if (msg != "") {
            alert(msg);
        }

        jQuery('[id*="hdnShowMessage"]').val("");


        var openForm = jQuery('[id*="hdnOpenForm"]').val();
        jQuery('[id*="hdnOpenForm"]').val("");
        if (openForm != "") eval(openForm);

        //var url = jQuery('[id*="hdnPDF"]').val();
        //if (url != "") {
        //    window.open(url);
        // }
        // jQuery('[id*="hdnPDF"]').val("");

    });


</script>

<asp:Panel ID="pnlMain" runat="server" >

    <asp:Panel ID="pnlPartName" runat="server">
        <asp:Label id="lblPartIdLabel" runat="server" CssClass="SubHead" Text="Part Id: " />
        <asp:Label ID="lblPartId" runat="server" CssClass="SubSubHead" Table="Parts" Field="PartId" />
        <asp:Label ID="lblPartIdSpace" runat="server" CssClass="SubSubHead" Text=" - " />
        <asp:Label ID="lblDescription" runat="server" CssClass="SubSubHead" Table="Parts" Field="Description" />
        <asp:ImageButton ID="lnkEdit" runat="server" ImageUrl="~/images/edit.gif" ToolTip="Edit Part Header" OnCommand="DoEditHeader" />
    </asp:Panel>
</asp:Panel>

<asp:Panel ID="pnlTabs" runat="server" >
    <table width="1000" cellspacing="0" border="0">
        <tr>
            <td style="width:200px;" align="left" valign="top">
                <pdm:sidebar id="ctlSideBar" runat="server" />
            </td>

            <td style="width:800px;padding-left:4px;" align="left" valign="top">
                <asp:Panel ID="pnlMainTabs" runat="server">
                    <telerik:RadTabStrip ID="tabs" MultiPageID="radTabs" runat="server" AutoPostBack="true" OnTabClick="LoadData">
                        <Tabs>
                            <telerik:RadTab Text="Product Development"/>
                            <telerik:RadTab Text="Purchasing" />
                            <telerik:RadTab Text="Quality Assurance" />
                            <telerik:RadTab Text="Creative" />
                            <telerik:RadTab Text="Sales" />
                            <telerik:RadTab Text="Marketing" />
                          <%--  <telerik:RadTab Text="Legal" />--%>
                            <telerik:RadTab Text="Accounting" />
                        </Tabs>
                    </telerik:RadTabStrip>

                    <telerik:RadMultiPage ID="radTabs" runat="server" SelectedIndex="0" BorderStyle="Solid" BorderWidth="1" BorderColor="Black" style="padding:4px;" >

                        <telerik:RadPageView runat="server" ID="pgProductDevelopment" >
                            <asp:Panel id="pnlPart" runat="server" Width="780" >
                                <pdm:productDevelopment id="ctlProductDevelopment" runat="server" />
                            </asp:Panel>
                        </telerik:RadPageView> 

                        <telerik:RadPageView runat="server" ID="pgPurchasing" >
                            <asp:Panel id="pnlPurchasing" runat="server" Width="780" >
                                <pdm:purchasing id="ctlPurchasing" runat="server" />
                            </asp:Panel>
                        </telerik:RadPageView> 

                        <telerik:RadPageView runat="server" ID="pgQualityAssurance" >
                            <asp:Panel id="pnlQualityAsurance" runat="server" Width="780">
                                <pdm:quality id="ctlQuality" runat="server" />
                            </asp:Panel>
                        </telerik:RadPageView> 

                        <telerik:RadPageView runat="server" ID="pgCreative" >
                            <asp:Panel id="pnlCreative" runat="server" Width="780">
                                <pdm:creative id="ctlCreative" runat="server" />
                            </asp:Panel>
                        </telerik:RadPageView> 

                        <telerik:RadPageView runat="server" ID="pgSales" >
                            <asp:Panel id="pnlSales" runat="server" Width="780" >
                                <pdm:sales id="ctlSalesTab" runat="server" />
                            </asp:Panel>
                        </telerik:RadPageView> 

                        <telerik:RadPageView runat="server" ID="pgMarketingTb" >
                            <asp:Panel id="pnlMarketing" runat="server" Width="780" >
                                <pdm:marketing id="ctlMarketing" runat="server" />
                            </asp:Panel>
                        </telerik:RadPageView> 

<%--                        <telerik:RadPageView runat="server" ID="pgLegalTb" >
                            <asp:Panel id="pnlLegal" runat="server" Width="780" >
                                <pdm:legal id="ctlLegal" runat="server" />
                            </asp:Panel>
                        </telerik:RadPageView> --%>

                        <telerik:RadPageView runat="server" ID="pgAccountingTb" >
                            <asp:Panel id="pnlAccounting" runat="server" Width="780" >
                                <pdm:accounting id="ctlAccounting" runat="server" />
                            </asp:Panel>
                        </telerik:RadPageView> 

                    </telerik:RadMultiPage>
                </asp:Panel>
                <asp:Panel ID="pnlBOM" runat="server" Visible="false">
                    <pdm:bom id="ctlBOMContainer" runat="server" />
                </asp:Panel>
            </td>
        </tr>
    </table>
</asp:Panel>



<asp:HiddenField ID="hdnShowMessage" runat="server" Value="" />
<asp:HiddenField ID="hdnOpenForm" runat="server" Value="" />
<asp:HiddenField ID="hdnViewRole" runat="server" Value="" />
<asp:HiddenField ID="hdnPDF" runat="server" Value="" />

